VehicleRental.WinClient/Connected Services/VehicleServiceRef/VehicleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61525/VehicleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VehicleRental.Contracts.DTOs" />
  <xs:element name="GetAllVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VehicleRental.Contracts.DTOs" minOccurs="0" name="GetAllVehiclesResult" nillable="true" type="q1:ArrayOfVehicleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VehicleRental.Contracts.DTOs" minOccurs="0" name="GetAvailableVehiclesResult" nillable="true" type="q2:ArrayOfVehicleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VehicleRental.Contracts.DTOs" minOccurs="0" name="GetVehicleByIdResult" nillable="true" type="q3:VehicleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>