VehicleRental.WinClient/Connected Services/ReservationServiceRef/ReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReservationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61525/ReservationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61525/ReservationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61525/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VehicleRental.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservationService_BookVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:BookVehicle" />
  </wsdl:message>
  <wsdl:message name="IReservationService_BookVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_CancelReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_CancelReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_GetUserReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReservations" />
  </wsdl:message>
  <wsdl:message name="IReservationService_GetUserReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReservationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservationService">
    <wsdl:operation name="BookVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/BookVehicle" message="tns:IReservationService_BookVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/BookVehicleResponse" message="tns:IReservationService_BookVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/CancelReservation" message="tns:IReservationService_CancelReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/CancelReservationResponse" message="tns:IReservationService_CancelReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/GetUserReservations" message="tns:IReservationService_GetUserReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/GetUserReservationsResponse" message="tns:IReservationService_GetUserReservations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservationService" type="tns:IReservationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookVehicle">
      <soap:operation soapAction="http://tempuri.org/IReservationService/BookVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/CancelReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserReservations">
      <soap:operation soapAction="http://tempuri.org/IReservationService/GetUserReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationService">
    <wsdl:port name="BasicHttpBinding_IReservationService" binding="tns:BasicHttpBinding_IReservationService">
      <soap:address location="http://localhost:61525/ReservationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>