VehicleRental.Client/Connected Services/ReservationServiceRef/ReservationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VehicleRental.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VehicleRental.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReservationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationDTO" nillable="true" type="tns:ReservationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationDTO" nillable="true" type="tns:ArrayOfReservationDTO" />
  <xs:complexType name="ReservationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationDTO" nillable="true" type="tns:ReservationDTO" />
</xs:schema>